@page "/"

<MudContainer Class="fullscreen-section colored" MaxWidth="MaxWidth.False">
    
    <div>
        <MudText Align="Align.Center" Typo="Typo.h1">Smart Wash</MudText>
        <MudText Align="Align.Center" Typo="Typo.h4" Class="my-10">Your one-stop solution for a clean and quick wash.</MudText>
    </div>
    
    <MudContainer>
        <MudText Typo="Typo.h5" Class="my-4">Browse Available Machines:</MudText>

        <MudContainer Class="d-flex align-center gap-5 justify-center" Style="width: 100%;">
            <MudButton Class="machine-category-button" FullWidth="true" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.LocalLaundryService" IconSize="Size.Large">Washing Machine</MudButton>
            <MudButton Class="machine-category-button" FullWidth="true" Variant="Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.DryCleaning" IconSize="Size.Large">Drying Machine</MudButton>
        </MudContainer>
    </MudContainer>
</MudContainer>

<MudContainer Class="fullscreen-section">
    <MudText Typo="Typo.h4" Class="my-4">Revolutionizing Laundry, one wash at a time</MudText>

    <MudContainer Class="d-flex align-center gap-5 justify-center" Style="width: 100%;">
        <MudButton Class="service-button" FullWidth="true" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.LocalLaundryService" IconSize="Size.Large">Washing</MudButton>
        <MudButton Class="service-button" FullWidth="true" Variant="Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.DryCleaning" IconSize="Size.Large">Drying</MudButton>
        <MudButton Class="service-button" FullWidth="true" Variant="Variant.Filled" Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.LocalLaundryService" IconSize="Size.Large">Folding</MudButton>
    </MudContainer>
</MudContainer>
